%p.text-info-non-table
  Мы принимаем:
  -if controller.controller_name == 'cabinet'
    -active='active' 
  -else 
    -active='' 
  %div{:class => 'payment-table '+active}
    %h4
      Электронные деньги
    %table
      %tr
        %td{}
          %img{:src => '/im/qiwiwallet.png'}
        %td
          QIWI Кошелек
      %tr
        %td{}
          %img{:src => '/im/dengimailru.png'}
        %td
          Деньги@Mail.Ru
    %h4
      Карты, интернет-банки
    %table
      %tr
        %td{}
          %img{:src => '/im/visa.gif'}
        %td
          Visa/MasterCard
      %tr
        %td{}
          %img{:src => '/im/sberbank.png'}
        %td
          Сбербанк ОнЛ@йн
    %h4
      Наличные
    %table
      %tr
        %td{}
          %img{:src => '/im/qiwiwallet.png'}
        %td
          QIWI Терминалы
      %tr
        %td{}
          %img{:src => '/im/osmp.gif'}
        %td
          Элекснет терминалы
      %tr
        %td{}
          %img{:src => '/im/contact.gif'}
        %td
          Contact RUR
      %tr
        %td{}
          %img{:src => '/im/quickpay.gif'}
        %td
          Quickpay Терминалы
    %h4
      Мобильная коммерция
    %table
      %tr
        %td{}
          %img{:src => '/im/avisosms.png'}
        %td
          Сотовые операторы РФ
