%h1.style{ :style => 'font-size: 2em'} Наши цены на сердечки
%table.table.table-hover.style{ :style => 'background: url(im/dollar.png) no-repeat center center'}
  %tbody
    -@table_1.each do |row|  
      %tr
        %td.price-txt.blue
          =row.hearts.to_s+' ♥'
          %p.text-info 
            =(row.hearts.to_i/2).to_s+' подписчиков'
        %td.price-txt 
          ='за '+row.price.to_s+' руб.'
        %td
          -if !current_user
            %span.style{ :style => "color: red"} 
              Для покупки вам необходимо
              %br
              %strong авторизоваться
          -else
            -payment_num = Time.now.to_time.to_i.to_s+current_user.id.to_s
            -pay_url = Payment.new.create_url(payment_num, row.price.to_s, current_user.id.to_s)
            =link_to "Купить", pay_url, :class=>'btn btn-primary'  

%h1.style{ :style => 'font-size: 2em'} Специальные предложения для продвижения групп     
%table.table.table-hover.style{ :style => 'background: url(im/dollar.png) no-repeat center center'}
  %tbody
    -@table_2.each do |row|  
      %tr
        %td.price-txt.blue
          =row.hearts.to_s+' ♥'
          %p.text-info 
            -subscr = (row.price.to_f/(row.hearts.to_f/2)*100).to_i
            -subscr_count = ((row.hearts.to_i/2).to_f%1000).to_i
            -if subscr_count != 0 
              =((row.hearts.to_i/2).to_f/1000).to_f.to_s+' тыс. подписчиков ('+subscr.to_s+' руб. за 100 подписчиков)'
            -else
              =((row.hearts.to_i/2).to_f/1000).to_i.to_s+' тыс. подписчиков ('+subscr.to_s+' руб. за 100 подписчиков)'
        %td.price-txt 
          ='за '+row.price.to_s+' руб.'
        %td
          -if !current_user
            %span.style{ :style => "color: red"} 
              Для покупки вам необходимо
              %br
              %strong авторизоваться
          -else      
            -payment_num = Time.now.to_time.to_i.to_s+current_user.id.to_s
            -pay_url = Payment.new.create_url(payment_num, row.price.to_s, current_user.id.to_s)
            =link_to "Купить", pay_url, :class=>'btn btn-primary' 
        
%p.text-info-non-table 
  Количество подписчиков везде указано с расчетом затрат в 2 сердечка с баланса за 1 подписчика. Обратите на это внимание при рассчетах. Чем больше сердечек вы установите за одного подписчика, 
  тем бысрее выполнится ваш заказ.
%p.text-info-non-table 
  В качестве системы обработки платежей используется 
  %a{ :href=>'http://sprypay.ru', :border=>'0' }
    %img{ :src=>'http://sprypay.ru/templates/users/images/sprypay.button.png' }
=render 'payment-table'

