<h4>Список отзывов</h4>

<table class="table table-striped">
  <thead>
  <tr>
    <th>WMR</th>
    <th>Количество</th>
    <th>Статус</th>
    <th>Пользователь</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @exchange.each do |item| %>
  <tr>
    <td><%= item.wmr %></td>
    <td><%= item.balance %></td>
    <td><%= item.status %></td>
    <td><%= item.user_id %></td>
    <td><%= link_to image_tag('/im/edit.png'), '/admin/exchange/'+item.id.to_s %></td>
    <td><%= link_to image_tag('/im/delete.png'), '/admin/exchange/'+item.id.to_s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />