<h6><%= @exchange.wmr %></h6>
<blockquote>
<p>Количество средец для обмена: <%= @exchange.balance %></p>
<p>ID пользователя: <%= @exchange.user_id %></p>
</blockquote>


<%= link_to 'Назад к списку', '/admin/exchange' %>