<div class="row-fluid">
  <div class="span4">
  	<div class="user_stat">
  			<h4 class="name"><%= current_user.name%></h4>
  			<%= link_to "Выход", signout_path, :class => "logout-button" %>	
  			<h3 class="user-balance">Ваш баланс:</h3>
  			<h2 class="user-balance-number" id="user-balance-number"><%= current_user.balance %> ♥</h2>
  			<a href="#" class="help-balance-link" data-toggle="modal" data-target="#info_balance">Что такое баланс</a>
  			<a href="#" class="help-nonpay-balance-link" data-toggle="modal" data-target="#info_win">Как получить бесплатно</a>
  			<a href="#" data-toggle="modal" data-target="#exchange_win"><button class="btn btn-block btn-primary btn-buy">Обменять на реальные деньги!</button></a>
  			<a href="/buy"><button class="btn btn-block btn-primary btn-buy">Купить</button></a>
  	</div>
  	
  	<div class="span12" style="margin-left: 0px; margin-top: 10px;">
          <div class="well sidebar-nav" id="action-panel">
            <ul class="nav nav-list">
              <li class="nav-header">Аккаунт</li>
                <li class=""><img src="/im/get_likes.png" width="24" class="action-img"><a href="/cabinet">Сердечки бесплатно</a></li> 
                <li class=""><img src="/im/orders.png" class="action-img" width="24"><a href="/cabinet/orders">История заказов</a></li> 
              <li class="nav-header">Накрутка</li>
                  <li class=""><img src="/im/like.png" class="action-img" width="24"><a href="/cabinet/get_likes">Лайки (мне нравится)</a></li>
                  <li class=""><img src="/im/people2.png" class="action-img" width="24"><a href="/cabinet/get_subscribers">Подписчики</a></li>
                  <li class=""><img src="/im/friends.png" class="action-img" width="24"><a href="/cabinet/get_friends">Друзья</a></li>
              <li class="nav-header">Полезные функции</li>
                <li class=""><img src="/im/list.png" class="action-img" width="24"><a href="/cabinet/download_subscribers">Скачать список подписчиков (друзей) в файл</a></li> 
            </ul>
          </div><!--/.well -->
        </div>
  </div>
  <div class="span8">
  <h3><%= @meta_header %></h3>
  <div class="alert alert-info" style="display: none">
      <button type="button" class="close" aria-hidden="true" id="new-panel-info-win">×</button>
      <table>
          <tr>
              <td>
                    <img src="/im/arrow.png">
              </td>
              <td>
                    Для выбора функций сервиса используйте новую<br /> панель слева под статистикой баланса.
              </td>
          </tr>
       </table>
  </div>
