=render 'top'
=form_for(@download_subscribers, :method => 'post', :url => '', :html => { :class => 'form-horizontal', :style => "margin-top: 0px; margin-left: 63px;" }) do |f|
	%div#error_explanation
		-@download_subscribers.errors.full_messages.each do |msg|
			%p.text-error
				=msg
	%div.control-group
		%label{:style => "float: left"} 
			Ссылка на аккаунт
			%br
			пользователя или группу
		%div.controls{:style => "margin-left: 180px"}
			=f.text_field :url, :placeholder => "http://vk.com/...", :class => 'order-form-input', :id => 'url-input', :title => 'Ссылка на страницу пользователя или группу список пользователей которой хотите получить.'
	%div.control-group
		%label{:style => "float: left"} Тип:
		%div.controls{:style => "margin-left: 180px"}
			=f.radio_button(:type, "account", {:style => 'float: left'})
			Аккаунт
			%br
			=f.radio_button(:type, "group", {:style => 'float: left'})
			Группа
		%label{:style=>"float: left"} 
			Сколько лайков спишется с вашего баланса:
			%h2.user-balance-number{:style => "float: none; margin: 0 0 0 0", :id => "balance-result-ststus"}
				-if @friend_list
					=@friend_list.size.to_s+' ♥'
				-else
					-if @group_info
						=@members[:count].to_s+' ♥'
					-else
						0 ♥
			%div.controls
	%div.control-group#submit-btn
		-if @friend_list && @friend_list.size <= current_user.balance && @friend_list.size <= 100000
			%div.controls#download_div
				=link_to 'Скачать список', {:controller => 'cabinet', :action => 'download_list', :uid => @user_info[0].uid}, :method => 'post', :class => 'btn btn-block', :id =>'download_btn', :style => 'width: 60%'
		-else 
			-if @group_info && @members[:count] <= current_user.balance && @members[:count] <= 100000
				%div.controls#download_div
					=link_to 'Скачать список', {:controller => 'cabinet', :action => 'download_list', :gid => @group_info[0].gid}, :method => 'post', :class => 'btn btn-block', :id =>'download_btn', :style => 'width: 60%'
			-else
				%div.controls
					%p.text-info-non-table{:style => 'font-size: 11px'}
						Нажмите кнопку "Просчитать". Мы вычислим сколько пользователей в запрашиваемой группе
						%br
						и сообщим вам сколько необходимо потратить сердечек с баланса.
						%br
						Рассчет ведется из стоимости 1 ♥ = 1 подписчик(друг) в группе (аккаунте)
						%br
						%br
						После подсчета вам будет доступно скачиваение списка в формате xls. 
					=f.submit 'Просчитать', :class => 'btn btn-block', :style => 'width: 60%'	
			
%div.modal.hide.fade#myModal
	%div.modal-header
		%button.close{ :type => "button", :"data-dismiss" => "modal", :"aria-hidden" => "true"} &times;
		%h3 Информация
	%div.modal-body
		%p#modal_content
	%div.modal-footer
		%a.btn{:href => "#", :"data-dismiss" => "modal", :"aria-hidden" => "true"} Закрыть
:javascript
	$("#url-input").bind('focus', function (event, previousText) {
		$("#submit-btn").empty().html(
			'<div class="controls">'+
				'<p class="text-info-non-table" style="font-size: 11px">Нажмите кнопку "Просчитать". Мы вычислим сколько пользователей в запрашиваемой группе<br>'+
				'и сообщим вам сколько необходимо потратить сердечек с баланса.<br />'+
				'Рассчет ведется из стоимости 1 ♥ = 1 подписчик(друг) в группе (аккаунте)<br /><br />'+
				'После подсчета вам будет доступно скачиваение списка в формате xls.</p>'+
				'<input type="submit" class="btn btn-block" style="width: 60%" value="Просчитать">'
		);
	});
	$("input[type=radio]").bind('change', function (event, previousText) {
		$("#submit-btn").empty().html(
			'<div class="controls">'+
				'<p class="text-info-non-table" style="font-size: 11px">Нажмите кнопку "Просчитать". Мы вычислим сколько пользователей в запрашиваемой группе<br>'+
				'и сообщим вам сколько необходимо потратить сердечек с баланса.<br />'+
				'Рассчет ведется из стоимости 1 ♥ = 1 подписчик(друг) в группе (аккаунте)<br /><br />'+
				'После подсчета вам будет доступно скачиваение списка в формате xls.</p>'+
				'<input type="submit" class="btn btn-block" style="width: 60%" value="Просчитать">'
		);
	});
	$("#download_btn").click(function(){
		$(this).remove();
		$("#download_div").append('<p class="text-info-non-table" style="font-size: 11px">Дождитесь завершения операции.<br />Скачивание файла начнется автоматически.</p>');
	})
-if @members && @members[:count].to_i > 100000
	:javascript
		$("#myModal").modal("show");
		$("#modal_content").append('Количество подписчиков в группе больше 100 000. Для выполнения заказа свяжитесь с менеджером. В разделе <a href="/feedback">"Написать нам"</a> на сайте или в ВК (http://vk.com/like4me) и вы выполучите файл в течении суток.');
-if @friend_list && @friend_list.size.to_i > 100000
	:javascript
		$("#myModal").modal("show");
		$("#modal_content").append('Количество друзей больше 100 000. Для выполнения заказа свяжитесь с менеджером. В разделе <a href="/feedback">"Написать нам"</a> на сайте или в ВК (http://vk.com/like4me) выполучите файл в течении суток.');
=render 'footer'