=render 'top'
%p{:style => "margin-top: 0px; margin-left: 63px;"}
	Если вам нужны друзья тобавляйте их тут. Нажмите на кнопку "дружить"
	%br
	и в открывшемся окне добавьте пользователя в друзья.
	%br
	Так же вы можете добавить для пиара свою страницу сюда,
	%br
	указав при желании дополнительные параметры: 
	%strong пол, возраст.
	Для этого используйте функцию
	%a{:href => "/cabinet?act=get_friends"}
		%strong "Друзья" 
	из панели функций сайта.
%div.friend-field
	-@friends.each do |f|
		-if(f.check_friend(get_settings_value('access_token'), current_user.uid) != 1)
			%div.friend-item{:id => "friend-order-"+f.id.to_s}
				%div.friend-bonus-field
					%span.friend-bonus 
						тут на
						=f.get_expiration_time
						мин.
				%img.friend-img{:src => f.image}
				%span.friend-name
					=f.name
				%button.btn.btn-primary{:onclick => "get_friend("+f.id.to_s+", '"+f.url.to_s+"')", :id => "get-friend-button-"+f.id.to_s} Дружить
:javascript
	function get_friend(id, url)
	{
	    var lotAction = window.open(url, 'lotAction', 'width=900, height=600, top=' + ((screen.height - 600) / 2) + ',left=' + ((screen.width - 900) / 2) + ', resizable=yes, scrollbars=no, status=yes');
	    var closetimer = setInterval(function() {
	        if (lotAction.closed) {
	            clearInterval(closetimer);
	            closedGetFriendPage(id);
	        }
	    }, 100);   
	}
	
	function closedGetFriendPage(id)
	{
	    $("#friend-order-"+id).remove();
	}

=render 'footer'