=render 'top'
:javascript
	var modal_show = 0
-if @notice_seccess.to_i == 1
	:javascript
		$(document).ready(function(){
			$("form").hide();
		})
	%p.text-success{:style => "margin: 20px 0 17px 60px; float: left;"}
		Ваш заказ успешно добавлен. Ожидайте заявок в друзья.
	%a{:href=>"/cabinet"}
		%button.btn.btn-block.btn-primary.btn-buy{:style =>"width: 82%; margin-left: 60px"}
			Вернуться на главную в кабинет
=form_for(@friend_orders, :method => 'post', :url => '', :html => { :class => 'form-horizontal', :style => "margin-top: 0px; margin-left: 63px;" }) do |f|
	%div#error_explanation
		-@friend_orders.errors.full_messages.each do |msg|
			%p.text-error
				=msg
	%div.control-group
		%label{:style => "float: left"} 
			Ссылка на аккаунт
			%br
			пользователя
		%div.controls{:style => "margin-left: 180px"}
			=f.text_field :url, :placeholder => "http://vk.com/...", :class => 'order-form-input', :title => 'Ссылка на страницу пользователя.'
	%div.control-group
		%label{:style => "float: left"} Цена 1 мин.  ♥
		%div.controls{:style => "margin-left: 180px"}
			=f.text_field :bonus, :placeholder => "2", :id => "bonus-status", :class => 'order-form-input', :title => 'Чем выше вы укажете сердечек за одну минуту пиара, тем в таблице вы будете выше.'
	%div.control-group
		%label{:style => "float: left"} Сколько минут пиаримся
		%div.controls{:style => "margin-left: 180px"}
			=f.text_field :balance, :placeholder => "50", :id => "balance-current-status", :class => 'order-form-input', :title => 'Количество минут, которые вы хотите что бы вы отображались в таблице'
	%div.control-group
		%label{:style => "float: left"} Пол
		%div.controls{:style => "margin-left: 180px"}
			=f.select(:sex, options_for_select([['Не важно', 0], ['Только женщины', 1], ['Только мужчины', 2]], :selected => @friend_orders.sex), {} ,:id => "sex")
	%div.control-group
		%label{:style => "float: left"} Возраст от
		%div.controls{:style => "margin-left: 180px"}
			=f.select(:gender_min, options_for_select([['Не важно', 0], ['14 лет', 14], ['16 лет', 16], ['18 лет', 18], ['20 лет', 20], ['22 лет', 22], ['24 лет', 24], ['26 лет', 26], ['28 лет', 28], ['30 лет', 30], ], :selected => @friend_orders.gender_min), {} ,:id => "gender_min")
	%div.control-group
		%label{:style => "float: left"} Возраст до
		%div.controls{:style => "margin-left: 180px"}
			=f.select(:gender_max, options_for_select([['Не важно', 0], ['16 лет', 16], ['18 лет', 18], ['20 лет', 20], ['22 лет', 22], ['24 лет', 24], ['26 лет', 26], ['28 лет', 28], ['30 лет', 30], ], :selected => @friend_orders.gender_max), {} ,:id => "gender_max")
	%div.control-group
		%label{:style=>"float: left"} 
			Сколько лайков спишется с вашего баланса:
			%h2.user-balance-number{:style => "float: none; margin: 0 0 0 0", :id => "balance-result-ststus"}
				:javascript
					if (!$("#balance-current-status").val())
					{
						balance = 0;
					}
					else {
						var balance = parseInt($("#balance-current-status").val());
						if($("#bonus-status").val())
							balance = balance*parseInt($("#bonus-status").val());
						if($("#sex").val() != 0)
							balance += parseInt($("#balance-current-status").val());
						if($("#gender_min").val() != 0 || $("#gender_max").val() != 0)
							balance += parseInt($("#balance-current-status").val());
					}
					document.write(balance+' ♥');
			%div.controls
	%div.control-group
		%div.controls
			=f.submit 'Заказать', :class => 'btn btn-block', :style => 'width: 60%'	
			
%div.modal.hide.fade#myModal
	%div.modal-header
		%button.close{ :type => "button", :"data-dismiss" => "modal", :"aria-hidden" => "true"} &times;
		%h3 Информация
	%div.modal-body
		%p#modal_content
	%div.modal-footer
		%a.btn{:href => "#", :"data-dismiss" => "modal", :"aria-hidden" => "true"} Закрыть
    
:javascript
	var sex = 0;
	var gender = 0;
	$("#balance-current-status").bind('keyup focusout',function(){
	   var balance = parseInt($("#balance-current-status").val());
	   var new_balance = balance;
	   if($("#bonus-status").val())
			new_balance = parseInt(balance)*parseInt($("#bonus-status").val());
		 if (sex == 1) { new_balance += balance};
	   if (gender == 1) { new_balance += balance};
		 if (isNaN(balance) == true || balance == 0)
		 	new_balance = 0;
	   $("#balance-result-ststus").empty().html(new_balance+' ♥');       
	});
	
	$("#bonus-status").bind('keyup focusout',function(){
	   var balance = parseInt($("#balance-current-status").val());
	   var new_balance = balance;
	   if(balance && parseInt($("#bonus-status").val()))
			new_balance = parseInt(balance)*parseInt($("#bonus-status").val());
	   else
	    new_balance = 0;
	   if (sex == 1) { new_balance += balance};
	   if (gender == 1) { new_balance += balance};
	   $("#balance-result-ststus").empty().html(new_balance+' ♥');       
	});
	
	$("select").change(function(){
		if(modal_show == 0) {
			$("#modal_content").empty().html("За дополнительные опции взимается 1 сердечко за каждую минуту пиара вашей страницы");
			$("#myModal").modal("show");
			modal_show = 1;
		}
		if(!$("#balance-current-status").val())
	    var balance = 0;
	  else
	    var balance = parseInt($("#balance-current-status").val());
	
		if($("#sex").val() != 0 && $("#sex").val())
	    sex = 1;
	  else
	    sex = 0;
	
	  if(($("#gender_max").val() != 0 && $("#gender_max").val()) || ($("#gender_min").val() != 0 && $("#gender_min").val()))
	    gender = 1;
	  else
	    gender = 0;
	
	  var new_balance = 0;
	  if(parseInt($("#bonus-status").val()))
			var bonus = parseInt($("#bonus-status").val());
	  else
	    var bonus = 0;
	  if (bonus != 0) { new_balance += balance*bonus };
	  if (sex == 1) { new_balance += balance };
	  if (gender == 1) { new_balance += balance };
	  console.log('bonus='+bonus);
	  console.log('balance='+balance);
	  $("#balance-result-ststus").empty().html(new_balance+' ♥');
	});	
=render 'footer'