<%= render 'top' %>
<script type="text/javascript">
	var modal_show = 0;
</script>
  <% if @notice_seccess.to_i == 1 %>
    <script type="text/javascript">
      $(document).ready(function(){
          $("form").hide();
      })
    </script>
    <p class="text-success" style="margin: 20px 0 17px 60px; float: left">Ваш заказ успешно добавлен. Лайки начнут поступать в течении пары часов</p>
    <a href="/cabinet"><button class="btn btn-block btn-primary btn-buy" style="width: 82%; margin-left: 60px">Вернуться на главную в кабинет</button></a>
  <% end %>
<%= form_for(@like_order, :method => 'post', :url => '', :html => { :class => "form-horizontal", :style=>"margin-top: 0px; margin-left: 63px;" }) do |f| %>
  <% if @like_order.errors.any? %>
    <div id="error_explanation">
      <% @like_order.errors.full_messages.each do |msg| %>
        <p class="text-error"><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div class="control-group">
    <label style="float: left">Название</label>
    <div class="controls" style="margin-left: 180px">
      <%= f.text_field :name, :class=> 'order-form-input', :placeholder => "Моё новое фото", :title => 'Название заказа. Ни на что не влияет. Отображается в истории ваших заказов.' %>
    </div>
  </div>
  <div class="control-group">
    <label style="float: left">Сслыка</label>
    <div class="controls" style="margin-left: 180px">
      <%= f.text_field :url, :class => 'order-form-input', :placeholder => "http://vk.com/feed?w=wall96657332_11823480", :title => 'URL на пост, фото, видео в вк. На которое будем накручивать.' %>
    </div>
  </div>
  <div class="control-group">
    <label style="float: left">Сколько ♥ накрутить</label>
    <div class="controls" style="margin-left: 180px">
      <%= f.text_field :balance, :class => 'order-form-input', :id => "balance-current-status", :title => 'Сколько лайков накрутить? Сердечки спишутся с вашего баланса.' %>
    </div>
  </div>
  <div class="control-group">
    <label style="float: left">Пол</label>
    <div class="controls" style="margin-left: 180px" >
      <%= f.select(:sex, options_for_select([['Не важно', 0], ['Только женщины', 1], ['Только мужчины', 2]], :selected => @like_order.sex), {} ,:id => "sex") %>
    </div>
  </div>
    <div class="control-group">
    <label style="float: left">Возраст от</label>
    <div class="controls" style="margin-left: 180px">
      <%= f.select(:gender_min, options_for_select([
            ['Не важно', 0], 
            ['14 лет', 14], 
            ['16 лет', 16], 
            ['18 лет', 18], 
            ['20 лет', 20], 
            ['22 лет', 22], 
            ['24 лет', 24], 
            ['26 лет', 26], 
            ['28 лет', 28], 
            ['30 лет', 30], 
          ], :selected => @like_order.gender_min), {} ,:id => "gender_min") %>
    </div>
  </div>
  <div class="control-group">
    <label style="float: left">Возраст до</label>
    <div class="controls" style="margin-left: 180px" >
      <%= f.select(:gender_max, options_for_select([
            ['Не важно', 0], 
            ['16 лет', 16], 
            ['18 лет', 18], 
            ['20 лет', 20], 
            ['22 лет', 22], 
            ['24 лет', 24], 
            ['26 лет', 26], 
            ['28 лет', 28], 
            ['30 лет', 30], 
          ], :selected => @like_order.gender_max), {} ,:id => "gender_max") %>
    </div>
  </div>
    <div class="control-group">
    <label style="float: left">Сколько лайков спишется с вашего баланса:
    <h2 class="user-balance-number" style="float: none; margin: 0 0 0 0" id="balance-result-ststus">
      <script type="text/javascript">
         if (!$("#balance-current-status").val())
         {
           balance = 0;
         }
         else {
             var balance = parseInt($("#balance-current-status").val());
             if($("#sex").val() != 0)
                balance += parseInt($("#balance-current-status").val());
              if($("#gender_min").val() != 0 || $("#gender_max").val() != 0)
                balance += parseInt($("#balance-current-status").val());
         }
             document.write(balance);
      </script> ♥
    </h2></label>
    <div class="controls" style="margin-left: 180px">

    </div>
  </div>
  <div class="control-group">
    <div class="controls" style="margin-left: 180px">
      <%= f.submit 'Заказать', :class => 'btn btn-block', :style => 'width: 60%' %>
    </div>
  </div>
<% end %>

<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Информация</h3>
  </div>
  <div class="modal-body">
    <p id="modal_content"></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
  </div>
</div>

<script type="text/javascript">
var sex = 0;
var gender = 0;
$("select").change(function(){
	if(modal_show == 0) {
		$("#modal_content").empty().html("За дополнительные опции взимается 1 сердечко за каждый лайк на вашу страницу");
		$("#myModal").modal("show");
		modal_show = 1;
	}
	if(!$("#balance-current-status").val())
    var balance = 0;
  else
    var balance = parseInt($("#balance-current-status").val());

	if($("#sex").val() != 0 && $("#sex").val())
    sex = 1;
  else
    sex = 0;

  if(($("#gender_max").val() != 0 && $("#gender_max").val()) || ($("#gender_min").val() != 0 && $("#gender_min").val()))
    gender = 1;
  else
    gender = 0;

  var new_balance = balance;
  if (sex == 1) { new_balance += balance };
  if (gender == 1) { new_balance += balance };
  
  $("#balance-result-ststus").empty().html(new_balance+' ♥');
});

$("#balance-current-status").bind('keyup focusout',function(){
   var balance = parseInt($("#balance-current-status").val());
   var new_balance = balance;
   if (sex == 1) { new_balance += balance};
   if (gender == 1) { new_balance += balance};
   $("#balance-result-ststus").empty().html(new_balance+' ♥');       
});
</script>
<%= render 'footer' %>