<%= render 'top' %>
<p style="margin-top: 0; margin-left: 63px;">
	Для того что бы получить лайки на свой баланс <strong>бесплатно</strong>, просто поставьте лайк<br />в открывшемся окне, нажав на кнопку ниже
</p>
<button class="btn btn-block btn-primary btn-buy" style="width: 82%; margin-left: 60px" onclick="like_post()" id="like-button">Поставить лайк</button>
<img src="/im/ajax-loader.gif" style="margin-left: 50%; display: none" id="ajax-loader">

<p style="margin-top: 100px; margin-left: 63px;">
	Вы можете получать больше лайков <strong>бесплатно</strong> вступая в группы.<br />
	Нажмите на кнопку ниже и в открывшемся окне вступите в группу.<br />
	Вступая в группы вы получаете <strong>минимально 2 лайка</strong> на свой баланс.
</p>
<button class="btn btn-block btn-primary btn-buy" style="width: 82%; margin-left: 60px" onclick="subscribe_group()" id="subscribe-group-button">Вступить в группу</button>
<img src="/im/ajax-loader.gif" style="margin-left: 50%; display: none" id="ajax-loader-group">
<p style="margin-top: 100px; margin-left: 63px;">
    Если вам нужны друзья тобавляйте их тут. Нажмите на кнопку "дружить"<br />
    и в открывшемся окне добавьте пользователя в друзья.<br />
    Так же вы можете добавить для пиара свою страницу сюда,<br />
    указав при желании дополнительные параметры: <strong>пол, возраст.</strong> Для этого используйте функцию <a href="/cabinet?act=get_friends"><strong>"Друзья"</strong></a> из панели функций сайта.
</p>
<div class="friend-field">
    <% @friends.each do |f|%>
    <% if(f.check_friend(get_settings_value('access_token'), current_user.uid) != 1) %>
            <div class="friend-item" id="friend-order-<%= f.id %>">
                <div class="friend-bonus-field">
                        <span class="friend-bonus">тут на <%= f.get_expiration_time %> мин.</span>
                </div>
                <img class="friend-img" src="<%= f.image %>" />
                <span class="friend-name"><%= f.name%></span>
                <button class="btn btn-primary" onclick="get_friend(<%= f.id %>, '<%= f.url%>')" id="get-friend-button-<%= f.id %>">Дружить</button>
                <img src="/im/ajax-loader.gif" style="margin-left: 50%; display: none" id="ajax-loader-<%= f.id %>">
            </div>
        <% end %>
    <% end %>
</div>
    <% if @friends.size != 0 %>
        <div style="clear: both;padding-top: 10px"></div>
        <p style="margin-top: 0; margin-left: 63px;">
        <%= link_to 'Показать все заказы', {:controller => "cabinet", :action => "friends" } , :method => :get %>
        </p>
    <% end %>
<%= render 'footer' %>

<script type="text/javascript">


function like_post()
{
	$("#like-button").hide();
	$("#ajax-loader").show();
	$.ajax({
		url: '/ajax/like_post',
		type: 'post',
		dataType: 'text',
		success: function(response)
		{
			$("#like-button").show();
			$("#ajax-loader").hide();
			if(response == 0)
				show_notice_messsage("К сожалению на данный момент нет заказов, зайдите позже.");
			else {
				var lotAction = window.open(response, 'lotAction', 'width=900, height=600, top=' + ((screen.height - 600) / 2) + ',left=' + ((screen.width - 900) / 2) + ', resizable=yes, scrollbars=no, status=yes');
				var closetimer = setInterval(function() {
					  if (lotAction.closed) {
							clearInterval(closetimer);
							closedLikePage(response);
					  }
				 }, 100);
			}
		}
	});
}

function closedLikePage(url)
{
	$.ajax({
		url: '/ajax/check_like',
		type: 'post',
		dataType: 'text',
		data: {'url' : url},
		success: function(response) 
		{
			if(response == 1)
				show_notice_messsage("Неожиданная ошибка сервера");
			if(response == 2)
				show_notice_messsage("Заказа с таким URL в базе не найдено");
			if(response == 3)
				show_notice_messsage("К сожаению вы не успели баланс этого заказа уже равен 0");
			if(response == 4)
				show_notice_messsage("Вы не лайкнули пост");
			if(response == 0)
			{
				balance = $("#user-balance-number").text();
				balance = parseInt(balance) + 1;
				$("#user-balance-number").empty().append(balance+' ♥');
				show_notice_messsage("Вы заработали +1 ♥. Он поступит в течении нескольких минут на ваш счёт");
			}
		}
	});
}

function subscribe_group() {
	$("#subscribe-group-button").hide();
	$("#ajax-loader-group").show();
	$.ajax({
		url: '/ajax/subscribe_group',
		type: 'post',
		dataType: 'text',
		success: function(response)
		{
			$("#subscribe-group-button").show();
			$("#ajax-loader-group").hide();
			if(response == 0)
				show_notice_messsage("К сожалению на данный момент нет заказов, зайдите позже.");
			else {
				var lotAction = window.open(response, 'lotAction', 'width=900, height=600, top=' + ((screen.height - 600) / 2) + ',left=' + ((screen.width - 900) / 2) + ', resizable=yes, scrollbars=no, status=yes');
				var closetimer = setInterval(function() {
					  if (lotAction.closed) {
							clearInterval(closetimer);
							closedSubscribePage(response);
					  }
				 }, 100);
			}
		}
	});
} 

function closedSubscribePage(url)
{
	$.ajax({
		url: '/ajax/check_subscribe',
		type: 'post',
		dataType: 'json',
		data: {'url' : url},
		success: function(response) 
		{
			if(response.error_code == 1)
				show_notice_messsage("Неожиданная ошибка сервера");
			if(response.error_code == 2)
				show_notice_messsage("Заказа с таким URL в базе не найдено");
			if(response.error_code == 3)
				show_notice_messsage("К сожаению вы не успели баланс этого заказа уже равен 0");
			if(response.error_code == 4)
				show_notice_messsage("Вы не вступили в группу");
			if(response.error_code == 0)
			{
				balance = $("#user-balance-number").text();
				balance = parseInt(balance) + parseInt(response.bonus);
				$("#user-balance-number").empty().append(balance+' ♥');
				show_notice_messsage("Вы заработали +"+response.bonus+" ♥. Лайки поступят в течении нескольких минут на ваш счёт");
			}
		}
	});
}	

function get_friend(id, url)
{
    var lotAction = window.open(url, 'lotAction', 'width=900, height=600, top=' + ((screen.height - 600) / 2) + ',left=' + ((screen.width - 900) / 2) + ', resizable=yes, scrollbars=no, status=yes');
    var closetimer = setInterval(function() {
        if (lotAction.closed) {
            clearInterval(closetimer);
            closedGetFriendPage(id);
        }
    }, 100);   
}

function closedGetFriendPage(id)
{
    $("#friend-order-"+id).remove();
}

function show_notice_messsage(msg)
{
	$("#notice-message").empty().append(msg);
	$("body").css('padding-top', '0');
	$("#notice-message-field").show();
}

$("#close-notice-button").click(function(){
	$("#notice-message-field").hide();
	$("body").css('padding-top', '20px');
});	

<% if params[:success]%>
	show_notice_messsage('Ваш платеж был успешно проведен. Скоро на ваш баланс поступят сердечки.');
<% end %>

<% if params[:fail]%>
	show_notice_messsage('Ваш платеж не был проведен.');
<% end %>
</script>