%table
	%tr
		%td 
			%strong UID
		%td 
			%strong Имя
		%td 
			%strong Фамилия
		%td 
			%strong Пол
		%td 
			%strong Дата рождения
		%td 
			%strong Страна
		%td 
			%strong Город
	-@global_users_list.each do |u|
		%tr
			%td 
				=u.uid
			%td 
				=u.first_name
			%td
				=u.last_name
			%td 
				-if u.sex == 2
					Муж.
				-else
					Жен.
			%td
				=u.bdate
			%td
				-if u.country && u.country != 0
					-if !bd_c = VkCountries.find(:first, :conditions => {:vkid => u.country.to_i})
						=DownloadSubscribers.create.get_country_by_id(u.country.to_i)
					-else
						=bd_c.country
			%td
				-if u.city && u.city != 0
					-if !bd_city = VkCities.find(:first, :conditions => {:vkid => u.city.to_i})
						=DownloadSubscribers.create.get_city_by_id(u.city.to_i, u.country)
					-else
						=bd_city.city
