body {
    padding-top: 20px;
    padding-bottom: 60px;
}

/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr {
    margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 80px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}
.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}


/* Customize the navbar links to be fill the entire space of the .navbar */
    .navbar .navbar-inner {
    padding: 0;
}
.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}
.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}
.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}
.loggin_vk {
    float: right;
    padding-top: 5px;
}
.payment-table {
	border: #fba91b 2px solid; 
	padding: 15px 15px 15px 15px;
	display: table; 
	border-radius: 5px;
}

.payment-table.active{
	border: 1px solid #1e76a2; 
	padding: 0;
	width: 100%;
}
.payment-table.active>* {
	margin: 15px;
}
.user_stat {
    border: 1px solid #1e76a2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 200px;
    display: table;
    background-color: #f5f5f5;
}

.name {
    margin: 10px 10px 10px 10px;
    float: left;
}
.logout-button {
    float: right;
    margin: 10px 10px 10px 10px;
}
.user-balance {
    margin: 10px 10px -10px 10px;
    float: left;
}
.user-balance-number {
    margin: 10px 10px 10px 10px;
    float: right;
    color: #1e76a2;
}

.help-balance-link {
    float:left; 
    margin-left: 10px; 
    margin-bottom: 0px;
    font-size: 12px;
}

.help-nonpay-balance-link {
    float: left; 
    margin-left: 10px; 
    margin-top: 20px; 
    font-size: 14px;
}

.btn-buy {
    float: left;
    margin: 10px 10px 10px 10px;
    width: 93%;
}
.top-menu-cabinet {
    list-style: none;
}

.top-menu-cabinet li {
    float: left;
    margin-right: 10px;
    text-align: center;
    width: 23%;
}
	
.price-txt {
	font-size: 35px;
}

.text-info {
	font-size: 12px;
	margin-top: 10px;
	color: grey;
}

.blue {
	color: #428bca;
}

.text-info-non-table {
	font-size: 16px;
	margin-top: 10px;
	color: grey;
}

.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: rgba(0, 109, 204, 0.15);;
}

.friend-field {
    margin-left: 63px;    
}

.friend-item {
    text-align: center;
    border: 1px solid #1e76a2;
    border-radius: 5px;
    width: 100px;
    padding: 5px 5px 5px 5px;
    background: rgba(0, 109, 204, 0.15);
    margin-top: 25px;
    float: left;
    margin-right: 15px;
}

.friend-bonus {
    font-weight: bold;
    font-size: 10px;
    color: #1e76a2;
    padding: 5px 5px 5px 5px;
    background: url('/im/price.png');
    border-radius: 3px;
    border: 1px solid grey;

}

.friend-img {
    border-radius: 5px;
}

.friend-name {
    font-size: 12px;
}

.friend-bonus-field {
    padding: 5px 5px 5px 3px;
    margin-top: -20px;
    margin-bottom: 10px;
}

#repost-panel {
	/*position: fixed; */
	float: right;
	border: 1px solid #006dcc; 
	border-radius: 10px;
	background-color: #f5f5f5;
	height: 85px;
	width: 221px;
	text-align: center;
	padding: 10px; 
	font-size: 100%;
	margin-right: 8%;
	z-index: 99999;
}

.action-img {
	float: left; 
	margin-right: 5px;
}

.well {
	 border: 1px solid #1e76a2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
