<!DOCTYPE html>
<html>
<head>
  <title>Административная панель</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#"><%= get_settings_value('app_name') %></a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
            <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, :class => "navbar-link" %>
            </p>
            <ul class="nav">
              <li class="<%= is_current('admin', 'settings', nil) %>"><%= link_to 'Глобальные настройки', '/admin/settings' %></li>
              <li class="<%= is_current('textpages', 'index', nil) %>"><%= link_to 'Текстовые страницы', '/admin/textpages' %></li>
              <li class="<%= is_current('questions', 'index', nil) %>"><%= link_to 'FAQ', '/admin/questions' %></li>
              <li class="<%= is_current('posts', 'index', nil) %>"><%= link_to 'Блог', '/admin/posts' %></li>
              <li class="<%= is_current('feedback', 'index', nil) %>"><%= link_to 'Обратная связь (' + get_count_unread_message.to_s+')', '/admin/feedback' %></span></li>
              <li class="<%= is_current('exchange', 'index', nil) %>"><%= link_to 'Вывод средств (' + get_count_unread_exchange_orders.to_s+')', '/admin/exchange' %></span></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Текстовые страницы</li>
              <% get_textpages_list.each do |item| %>
                  <li class="<%= is_current('textpages', 'edit', item.id) %>"><%= link_to item.title, '/admin/textpages/'+item.id.to_s+'/edit' %></li>
              <% end %>
              <li class="nav-header">FAQ</li>
              <% get_last_questions.each do |item| %>
                <li class="<%= is_current('questions', 'edit', item.id) %>"><%= link_to item.question, '/admin/questions/'+item.id.to_s+'/edit' %></li>
              <% end %>
              <li class="nav-header">БЛОГ</li>
              <% get_last_posts_admin.each do |item| %>
                <li class="<%= is_current('posts', 'edit', item.id) %>"><%= link_to item.title, '/admin/posts/'+item.id.to_s+'/edit' %></li>  
              <% end %>
              <li class="nav-header">Обратная связь</li>
              <% get_last_messages.each do |item| %>
                <li class="<%= is_current('feedback', 'show', item.id) %>"><%= link_to item.email, '/admin/feedback/'+item.id.to_s %></li>  
              <% end %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
        	<%= yield %>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; <%= get_settings_value('app_name') %> 2013</p>
      </footer>

    </div><!--/.fluid-container-->

<%yield %>

</body>
</html>
