<!DOCTYPE html>
<html>
<head>
  <title><%= @meta_title %> — Like for me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "main", :media => "all" %>
  <%= stylesheet_link_tag    "tip-violet/tip-violet.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "main" %>
  <%= javascript_include_tag "poshytip" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>
  <% if current_user %>
  <script type="text/javascript">
  	$.ajax({
		url: '/cabinet/check_like4me_subscribe',
		type: 'post',
		dataType: 'json',
		success: function(response) 
		{
			if(response.error_code == 1)
				$("#info_like4me_subscribe").modal();
		}
		});
  <% end %>	
  </script>
</head>
<body>
<div class="container">
<div class="alert alert-info" style="height: 21px;display: none" id="notice-message-field">
  <div id="notice-message" style="float: left"></div>
  <button id="close-notice-button" class="btn btn-primary btn-mini" style="float: right;">Закрыть уведомление</button>
</div>
  <div class="masthead">
    <div class="loggin_vk" style="margin-top: 72px;">
      <% if current_user %>
        <span>Здравствуйте, </span><%= link_to current_user.name, '/cabinet' %> | <%= link_to "Выход", signout_path %>
      <% else %>
        <span><strong>Войти с помощью </strong></span>
        <a href="/auth/vkontakte" target=_blank><img src="/im/vkontakte.png"></a>
      <% end %>
    </div>
    <a href="/" style="text-decoration: none"><img src="/im/logo.png" width="220"></a>
    <% if current_user && current_user.repost == 0 %>
		<div id="repost-panel">
			<p>Сделай репост о нашем сервисе и получи в <strong>подарок 15 ♥</strong></p>
			<button class="btn btn-block btn-primary btn-buy" id="service-repost-btn">Сделать репост</button>
		</div>
	<% end %>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <% if current_user %>
              <li class="<%= is_current('cabinet', 'index', nil)%>"><a href="/cabinet">Кабинет</a></li>
            <% else %>
              <li class="<%= is_current('main', 'index', nil)%>"><a href="/">Главная</a></li>
            <% end %>  
            <li class="<%= is_current_textpage('main', 'buy', nil)%>"><a href="/buy">Цены</a></li>          
            <% get_available_text_page.each do |item| %>
                <li class="<%= is_current_textpage('main', 'textpage', item.slug)%>"><a href="/<%= item.slug %>"><%= item.title %></a></li>
            <% end %>
            <li class="<%= is_current_textpage('main', 'faq', nil)%>"><a href="/faq">FAQ</a></li>
            <li class="<%= is_current_textpage('main', 'blog', nil)%>"><a href="/blog">Блог</a></li>
            <li class="<%= is_current_textpage('main', 'feedback', nil)%>"><a href="/feedback">Написать нам</a></li>
            <!--<li><a href="#">Services</a></li>
            <li><a href="#">Downloads</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li> -->
          </ul>
        </div>
      </div>
    </div><!-- /.navbar -->
  </div>

  <%= yield %>
  <% if controller.action_name != 'blog' && controller.action_name != 'blog_details' %>
    <hr>
  <% end %>
  <!-- Example row of columns -->
  <% if controller.action_name != 'blog' && controller.action_name != 'blog_details' %>
  <div class="row-fluid">
    <% get_last_posts.each do |item| %>
    <div class="span4">
      <h4><%= item.title %></h4>
      <p><%= item.intro.html_safe %></p>
      <p><a class="btn btn-primary" href="/blog/<%= item.id %>">Подробнее &raquo;</a></p>
    </div>
    <% end %>
  </div>
  <% end %>

  <% if controller.action_name != 'blog' %>
      <hr>
  <% end %>

  <div class="footer">
    <p style="float: left">&copy; <%= get_settings_value('app_name') %> 2013 &mdash; 2014</p>
    <p style="float: right">Если у вас возникли вопросы вы можете <a href="/feedback">написать нам</a> или позвонить по телефону:<br /><strong>+7 (953) 324 15 19</strong></p>
    <div style="clear: both"></div>
  </div>
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t38.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet' "+
"border='0' width='31' height='31'><\/a>")
//--></script><!--/LiveInternet-->
</div> <!-- /container -->
<!-- modal window -->
<div class="modal fade" id="info_win" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Как получить бесплатно?</h4>
      </div>
      <div class="modal-body">
        <strong>Получить сердечки на баланс бесплатно очень просто!</strong><br /><br />
        <ul>
          <li>На главной странице своего кабинета, нажимайте кнопки<br /> "Поставить лайк" и "Вступить в группу".</li>
          <li>Ставьте лайки или вступайте в группы и получайте за это вознаграждение в виде сердечек на баланс абсолютно бесплатно.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- end modal -->

<!-- modal window -->
<div class="modal fade" id="info_balance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 580px;display: none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Что такое баланс?</h4>
      </div>
      <div class="modal-body">
        <strong>Баланс или сердечки, </strong>
        которые у вас на счете, это условная единица сервиса.<br />Их вы можете тратить на использование функций
        данного сервиса в своих целях.<br />Серечки вы можете <a href="#" data-toggle="modal" data-target="#info_win" data-dismiss="modal">получать бесплатно</a> или <a href="/buy">покупать</a>.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- end modal -->

<!-- modal window -->
<div class="modal fade" id="info_like4me_subscribe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Информация.</h4>
      </div>
      <div class="modal-body">
        Если вы хотите что бы это окно больше не появлялось,<br /><strong>вступите в группу нашего проекта</strong> <a href="https://vk.com/servicelike4me" onClick="popupWin = window.open(this.href, 'like4me', 'location,width=900,height=600,top=0'); popupWin.focus(); return false;">https://vk.com/servicelike4me</a>.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- end modal -->

<!-- surprise -->
<% if current_user and current_user.surprise and current_user.surprise > 0 %>
  <div class="modal fade" id="info_surprise" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Подарок</h4>
      </div>
      <div class="modal-body">
        <img src="/im/surprise.jpg" width="50" />
        На ваш баланс было <strong>начисленно <%= current_user.surprise %> сердечек</strong> в качестве <strong>подарка</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    $('#info_surprise').modal();
</script>
<% @site_user = SiteUser.find(:first, :conditions => {:id => current_user.id }) %>
<% @site_user.update_attributes(:surprise => '0') %>
<% end %>
<!-- end -->
<!-- exchange_modal_win> -->
<% if !@exchange.nil? %>
<div class="modal fade" id="exchange_win" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Обменять сердечки на реальные деньги.</h4>
      </div>
      <div class="modal-body">
       <% case  @exchange_show_form %>
       <% when -1%>
       		Вы должны быть авторизованы для выполнения данного действия
       <% when 2 %>
       		Ваша заявка принята и в данный момент обрабатывается		
       <% else %>
       		Оставьте заявку менеджеру на вывод средств и средства поступят на указанный вами кошелек в течении суток. Если возникнут какие-либо проблемы, то менеджер свяжется с вами.
       		<%= form_for(@exchange, :method => 'post', :url => '', :html => { :class => "form-horizontal", :style=>"margin-top: 20px;" }) do |f| %>
			  <% if @exchange.errors.any? %>
			    <div id="error_explanation">
			      <% @exchange.errors.full_messages.each do |msg| %>
			        <p class="text-error"><%= msg %></p>
			      <% end %>
			    </div>
			  <% end %>
			  <div class="control-group">
			    <label style="float: left">WMR кошелек</label>
			    <div class="controls" style="margin-left: 180px">
			      <%= f.text_field :wmr, :class=> 'order-form-input', :placeholder => "R234567891011", :title => 'Ваш R кошелек в системе Webmoney' %>
			    </div>
			  </div>
			  <div class="control-group">
			    <label style="float: left">Количество сердечек<br />для обмена</label>
			    <div class="controls" style="margin-left: 180px">
			      <%= f.text_field :balance, :class=> 'order-form-input', :placeholder => "100", :title => 'Количество сердечек для обмена' %>
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls" style="margin-left: 180px">
			      <%= f.submit 'Отправить заявку', :class => 'btn btn-block', :style => 'width: 60%' %>
			    </div>
			  </div>
			  <p class="text-info-non-table" style="font-size: 12px;">Текущий курс обмена 1 ♥ = 50 коп.<br />Вывод производится только на кошельки WMR и при балансе более от 100 ♥</p>
			<% end %>
       <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% if @exchange_show_form == 1 || @exchange_show_form == 2%>
	<script>
		$('#exchange_win').modal();	
	</script>
<% end %>
<% end %>
<!-- end modal -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter23721484 = new Ya.Metrika({id:23721484,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23721484" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
